:root {
  /** Скролл */
  --size-scrollbar: 8px;
  --background-track-scrollbar: #e0e0e0;
  --border-radius-track-scrollbar: 4px;
  --border-track-scrollbar: .3px solid;
  --border-color-track-scrollbar: #9f9f9f;

  /** Ползунок скролла */
  --background-slider-scrollbar: #8AB539;
  --border-radius-slider-scrollbar: 4px;
  --border-slider-scrollbar: none;
  --border-color-slider-scrollbar: transparent;

  /* Слоган Главной страницы */
  --font-family-slogan: "Pacifico", cursive;

  /** Фон страниц */
  --background-color-page: #edeef0;

  /** Переключатель */
  --background-active-switch: #87bd23;
  --border-color-switch: #0000005a;
  --border-switch: 0.1px solid;

  /** Таблица (страниц) */
  --border-radius-table: 10px;
  --filter-background-table: blur(10px);
  --background-table: transparent;
  --background-btn-block-table: rgb(228 231 234 / 20%);
  --background-even-tr-table: #ecf3ef50;
  --background-tr-table-hover: rgba(138, 181, 57, 0.08);
  --color-th-table: #3A6210;
  --svg-table: 16px;

  /** Модальные окна страниц */
  --background-modal: #fefefe;
  --color-title-modal: #4d672c;
  --text-stroke-title-modal: 0.25px #4d672c;
  --border-bottom-title-modal: 1px solid #ccc;
  --border-bottom-content-modal: 1px solid #ccc;

  /* Карточки под контент*/
  --background-content-card: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  --box-shadow-content-card: inset 0 0 10px rgba(255, 255, 255, 0.3),
    2px 2px 8px rgba(17, 44, 18, 0.1);
  --border-radius-content-card: 15px;

  /* Карточки внутри контента*/
  --box-shadow-content-inner-card: none;

  /* Шрифты страниц */
  --font-family: "El Messiri", sans-serif;
  --font-family-title: "Poiret One", sans-serif;
  --font-family-text: "Poppins", sans-serif;

  --v-layout-left: 0 !important;
  --v-layout-top: 50px !important
}

.v-main {
  padding-top: 0 !important;
  margin-top: -10px;
}