.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.tab-label {
  position: absolute;
  top: -8px;
  left: 88%;
  transform: translateX(-50%);
  background: #89ac49d7;
  color: #fff;
  padding: 2px 5px 4px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: none;
  -webkit-text-stroke: 0.25px transparent !important;
  text-align: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.tabs-switch-tab:hover .tab-label {
  transform: translateX(-50%) translateY(-1px) scale(1.05);
 
}

.tabs-switch {
  width: fit-content;
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: 800 !important;
  font-family: var(--font-family-title);
  margin-bottom: 15px;
  padding: 0;
}

.tabs-custom{
    margin-bottom: 5px;
}

.tabs-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 15px;
  background: #89ac49d7;
  transition: .35s cubic-bezier(.4, 0, .2, 1);
  z-index: 0;
}

.tabs-switch-tab {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 25px;
  cursor: pointer;
  letter-spacing: 2px;
  color: #494c54;
  position: relative;
  z-index: 1;
  transition: .25s ease;
  border-radius: 15px;
}

.tabs-switch-tab:hover {
  background: rgba(57, 181, 94, .05);
  border-radius: 15px !important;
}

.tabs-switch-tab.active {
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: .05px #fff;
}


.mobile-tabs {
  display: none;
  overflow-x: auto;
  padding: 5px 0;
  margin-bottom: 15px;
}

.mobile-tabs-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.mobile-tab {
  flex: 0 0 auto;
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, .05);
  background: linear-gradient(135deg, #fff, #fafafa);
  text-align: center;
  color: #3e3f45;
  white-space: nowrap;
  transition: all 0.3s;
}

.mobile-tab.active {
  background: #89ac49d7;
  color: #fff;
}

.mobile-tab:hover {
  transform: scale(1.05);
}

/* Scrollbar убрать на мобильных */
.mobile-tabs::-webkit-scrollbar {
  display: none;
}

/* Показать только на мобильных */
@media (max-width: 700px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    margin-top: -10px;
        margin-bottom: 5px;
  }
}