.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.tab-label {
  position: absolute;
  top: -8px;
  left: 88%;
  transform: translateX(-50%);
  background: #89ac49d7;
  color: #fff;
  padding: 2px 5px 4px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: none;
  -webkit-text-stroke: 0.25px transparent !important;
  text-align: center;
  z-index: 10;
  transition: all 0.3s ease;
}

.tabs-switch-tab:hover .tab-label {
  transform: translateX(-50%) translateY(-1px) scale(1.05);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, .25),
    0 0 10px rgba(113, 150, 79, .4);
}

.tabs-switch {
  width: fit-content;
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: 800 !important;
  font-family: var(--font-family-title);
  margin-bottom: 15px;
  padding: 0;
}

.tabs-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 15px;
  background: #89ac49d7;
  transition: .35s cubic-bezier(.4, 0, .2, 1);
  z-index: 0;
}

.tabs-switch-tab {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 25px;
  cursor: pointer;
  letter-spacing: 2px;
  color: #494c54;
  position: relative;
  z-index: 1;
  transition: .25s ease;
 border-radius: 15px;
}

.tabs-switch-tab:hover {
  background: rgba(57, 181, 94, .05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
  border-radius: 15px !important;
}

.tabs-switch-tab.active {
  color: #fff;
  font-weight: 900;
  -webkit-text-stroke: .05px #fff;
  box-shadow: 0 4px 10px rgba(138, 181, 57, .096);
}

.mobile-tabs {
  display: none;
  align-items: center;
  gap: 20px;
  margin-left: 1px;
  margin-bottom: 15px;
}

.mobile-tab-label {
  font-size: 16px;
  font-weight: 700;
  min-width: 150px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, .05);
  background: linear-gradient(135deg, #fff, #fafafa);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .05), inset 0 1px 1px rgba(255, 255, 255, .6);
  transition: .3s;
  backdrop-filter: blur(3px);
  text-align: center;
  color: #3e3f45;
}

.arrow {
  background: #89ac49d7;
  border: none;
  color: #fff;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
  transition: transform .2s;
}

.arrow:hover{
  background: #718f3bd7;
  transform: translateX(-2px);
}

.arrow:active {
  transform: scale(.9);
}

/* Breakpoint */
@media (max-width: 500px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }
}